<div class="demo resnet50">
  <div class="title">
    <h3>50-layer ResNet, trained on ImageNet, classifying webcam</h3>
    <mdl-spinner v-if="modelLoading && loadingProgress < 100"></mdl-spinner>
  </div>
  <div class="description">
    <span>Convolutional neural network <a href="https://github.com/KaimingHe/deep-residual-networks">(50-layer residual network)</a> live-classifying your webcam stream, using <a href="https://github.com/KaimingHe/deep-residual-networks">keras.js</a> (forked <a href="https://github.com/genekogan/deep-residual-networks">here</a>). Please run in HTTPS only.<br/>&nbsp;</span>
  </div>
  <div class="loading-progress" v-if="modelLoading && loadingProgress < 100">
    Downloading pre-trained model (100MB), may take a few minutes...<b>{{ loadingProgress }}%</b>
  </div>
  <div class="top-container" v-if="!modelLoading">
    <div class="controls">
      <mdl-switch
        :checked.sync="useGpu"
        :disabled="modelLoading || !hasWebgl"
        @click="toggleGpu"
      >Use GPU</mdl-switch>
    </div> 
  </div>
  
  <div class="columns input-output">
    <div class="column input-column">
      <div class="loading-indicator">
        <mdl-spinner v-if="imageLoading || modelRunning"></mdl-spinner>
        <div class="error" v-if="imageLoadingError">Error loading URL</div>
      </div>
      <div class="webcam-viewer">
        <canvas id="hellocam" width=224 height=224></canvas>
      </div> 
      <div class="webcam-viewer" style="display:none;">
        <canvas id="tempcam" width=224 height=224 style="display:none;"></canvas>
      </div>
      <div class="canvas-container">
        <canvas id="input-canvas" width="224" height="224"></canvas>
      </div>
    </div>

    <div class="column output-column">
      <div class="output">
        <div class="output-class"
          :class="{ 'predicted': i === 0 && outputClasses[i].probability.toFixed(2) > 0 }"
          v-for="i in [0, 1, 2, 3, 4]"
        >
          <div class="output-label">{{ outputClasses[i].name }}</div>
          <div class="output-bar"
            style="width: {{ Math.round(100 * outputClasses[i].probability) }}px; background: rgba(27, 188, 155, {{ outputClasses[i].probability.toFixed(2) }});"
          ></div>
          <div class="output-value">{{ Math.round(100 * outputClasses[i].probability) }}%</div>
        </div>
      </div>
    </div>
  </div>
</div>
